:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #000000;
  --primary-text-color: #212122;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --first-logo-color: #000000;
  --second-bg-color: #2f303a;
  --sect-team-bg-color: #f5f4fa;
  --clients-color: #afb1b8;
  --task-description-bg-color: rgba(47, 48, 58, 0.8);
  --portf-card-bg-color: rgba(33, 150, 243, 0.9);
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
  font-size: 14px;
}

.list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.hero-button {
  margin: auto;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  color: var(--header-text-color);
}

.hero-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.title {
  color: var(--title-text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.current {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.socar-list {
  padding: 0;
  display: flex;
  margin-left: 32px;
  margin-top: 16px;
}

.socar-blok {
  margin-right: 10px;
}

.socar-blok:last-child {
  margin-right: 0;
}

.team-list {
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list .team-list:not(:last-child) {
  margin-right: 30px;
}

.socar-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: var(--clients-color);
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socar-link:focus,
.socar-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  color: var(--clients-color);
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: currentColor;
}

.footer-links {
  display: flex;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
  background-color: var(--accent-color);
}

.contacts-link-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: left;
}

.contacts-link-address:focus,
.contacts-link-address:hover,
.footer-contacts-link:focus,
.footer-contacts-link:hover {
  color: var(--accent-color);
  font-style: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 530px;
  height: 580px;
  background-color: var(--primary-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-input {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* background-color: transparent; */
  padding-left: 42px;
  padding-right: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover,
.modal-text-input:focus,
.modal-text-input:hover {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .form-icon,
.modal-input:hover + .form-icon {
  color: var(--accent-color);
  fill: currentColor;
}

.form-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}

.modal-title {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-field {
  margin-bottom: 28px;
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* background: transparent; */
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.modal-form .modal-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-btn:hover,
.form-btn:focus {
  color: var(--sect-team-bg-color);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--secondary-title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.modal-svg {
  fill: currentColor;
}

.checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:focus + .checkbox,
.form-checkbox:hover + .checkbox {
  fill: var(--accent-color);
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-checkbox {
  position: absolute;
}

.form-checkbox:checked + .checkbox {
  border-radius: 2px;
  fill: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
}

.portf-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--portf-card-bg-color);
  color: var(--primary-title-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

.portf-link:hover .portfolio-card-text,
.portf-link:focus .portfolio-card-text {
  transform: translateY(0);
}

.portfolio-card-text {
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
}

.portf-section {
  border-top: 1px solid #e5e5e5;
}

.menu-list {
  margin-bottom: 50px;
}

.menu-list .item:not(:last-child) {
  margin-right: 8px;
}

.portf-list {
  flex-wrap: wrap;
}

.list .item-portf:not(:nth-child(3n)) {
  margin-right: 30px;
}

.list .item-portf:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.item-portf {
  width: calc((100% - 60px) / 3);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-card-description {
  padding: 20px 24px;
}

.portf-img {
  display: block;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
  text-align: left;
}

.item-portf {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title:hover {
  color: var(--accent-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: left;
}

.portfolio-text:hover {
  color: var(--accent-color);
}

.inputs {
  display: flex;
}

.input-label {
  /* display: block; */
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-wrapper {
  display: block;
  position: relative;
}

.signup-title {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.signup-label {
  margin-right: 12px;
}

.signup-btn:focus,
.signup-btn:hover {
  color: var(--sect-team-bg-color);
}

.signup-btn {
  padding: 10px 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--sect-team-bg-color);
}

.signup-btn-text {
  margin-right: 10px;
}

.signup-svg {
  fill: var(--sect-team-bg-color);
}

.signup-email {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--sect-team-bg-color);
}

.online-form {
  margin-top: 12px;
  margin-left: 93px;
}

.list .button:focus,
.list .button:hover {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
}

.list .button {
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  font-family: "Roboto";
  font-style: normal;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  background-color: var(--sect-team-bg-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .active-button {
  font-family: "Roboto";
  font-style: normal;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icon-header-svg {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child),
.list .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 90px;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--accent-color);
}

.logo-header {
  color: var(--first-logo-color);
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  margin-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  text-align: left;
}

.header-link:focus,
.header-link:hover,
.contacts-link:focus,
.contacts-link:hover,
.site-nav .link.current,
.header-contacts-link .link.current {
  color: var(--accent-color);
}

.header-contacts-link {
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.contacts-link {
  margin-left: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  border-color: var(--second-bg-color);
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-title-color);
}

.features-ul {
  margin: -15px;
}

.about-item {
  width: 270px;
  margin: 15px;
}

.icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--sect-team-bg-color);
  align-items: center;
  justify-content: center;
}

.features-svg {
  width: 70px;
  height: 70px;
}

.features {
  display: none;
}

.list .features-list:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  width: 270px;
}

.features-title {
  text-transform: uppercase;
  color: var(--header-text-color);
  margin-bottom: 10px;
}

.features-text {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: left;
}

.subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}

.task-kok {
  position: relative;
  display: flex;
  justify-content: center;
}

.task-card {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--task-description-bg-color);
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.task .section {
  padding-top: 0;
}

.list .task-list:not(:last-child) {
  margin-right: 30px;
}

.task-img {
  display: block;
}

.task-title {
  margin-bottom: 50px;
}

.team-ul {
  margin: -15px;
}

.icon-svg {
  fill: currentColor;
}

.section-team {
  background-color: var(--sect-team-bg-color);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  background-color: var(--primary-title-color);
}

.text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--primary-title-color);
}

.team-card-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 50px;
}

.team-img {
  display: block;
}

.clients-blok:last-child {
  margin-right: 0;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  margin: 0;
  padding: 0;
}

.clients-blok {
  display: flex;
  margin-right: 30px;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-svg:hover,
.clients-svg:focus {
  color: var(--accent-color);
}

.footer-blok {
  display: flex;
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  color: var(--primary-title-color);
  letter-spacing: 0.03em;
}

.footer-strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer-socar {
  display: block;
  align-items: baseline;
  text-align: left;
  margin-left: 70px;
  margin-top: 10px;
}

.footer-socar-list {
  display: block;
  text-transform: uppercase;
  padding: 0;
  display: flex;
}

.footer-socar-blok {
  justify-content: center;
}

.footer-socar-blok:last-child {
  margin-right: 0;
}

.footer-icon-svg {
  fill: var(--primary-title-color);
}

.footer-link {
  display: block;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--primary-title-color);
}

.contacts-link-list {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.contacts-link-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-list {
  margin-right: auto;
  flex-direction: column;
  text-align: left;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  margin-bottom: 9px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */