.footer-blok {
    display: flex;
}

.footer {
    background-color: var(--second-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    font-family: Raleway;
    font-style: normal;
    @include font (26px, 700, 31px, 0.03em);
    text-align: left;
    color: var(--primary-title-color);
}

.footer-strong {
    display: block;
    margin-bottom: 20px;
    @include font (14px, 700, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.footer-socar {
    display: block;
    align-items: baseline;
    text-align: left;
    margin-left: 70px;
    margin-top: 10px;
}

.footer-socar-list {
    display: block;
    text-transform: uppercase;
    padding: 0;
    display: flex;
}

.footer-socar-blok {
    justify-content: center;
}

.footer-socar-blok:last-child {
    margin-right: 0;
}

.footer-icon-svg {
    fill: var(--primary-title-color);
}

.footer-link {
    display: block;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--primary-title-color);
}

.contacts-link-list {
    font-family: Raleway;
    font-weight: bold;
    @include fontan (26px, 31px, 0.03em);
    color: var(--accent-color);
}

.contacts-link-footer {
    font-family: Raleway;
    font-weight: bold;
    @include fontan (26px, 31px, 0.03em);
}

.footer-contacts-link {
    @include fontan (14px, 24px, 0.03em);
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
}

.logo-footer {
    @include font (26px, 700, 31px, 0.03em);
    color: var(--primary-title-color);
}

.footer-list {
    margin-right: auto;
    flex-direction: column;
    text-align: left;
}

.contacts-address {
    font-style: normal;
}

.contacts-item {
    margin-bottom: 9px;
}

.contacts-item:last-child {
    margin-bottom: 0;
}