.task-kok {
    position: relative;
    display: flex;
    justify-content: center;
}

.task-card {
    position: absolute;
    bottom: 0;
    left: 0;
    @extend %align-items;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: var(--task-description-bg-color);
    color: var(--primary-title-color);
    @include font (14px, 700, 16px, 0.03em);
    @extend %text-paper;
}

.task .section {
    padding-top: 0;
}

.list .task-list:not(:last-child) {
    margin-right: 30px;
}

.task-img {
    display: block;
}

.task-title {
    margin-bottom: 50px;
}