        .clients-link {
            @extend %align-items;
            width: 170px;
            height: 92px;
            color: var(--clients-color);
            border: 1px solid var(--clients-color);
            border-radius: 4px;
            justify-content: center;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                border: 1px solid var(--accent-color);
                border-radius: 4px;
                fill: currentColor;
            }
        }