        .contacts-link-address {
            @include fontan (14px, 24px, 0.03em);
            color: var(--primary-title-color);
            text-align: left;
            &:focus,
            &:hover,
            .footer-contacts-link:focus,
            .footer-contacts-link:hover {
                color: var(--accent-color);
                font-style: inherit;
            }
        }