body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
  font-size: 14px;
}

.list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}
