:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #000000;
  --primary-text-color: #212122;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --header-text-color: #212121;
  --first-logo-color: #000000;
  --second-bg-color: #2f303a;
  --sect-team-bg-color: #f5f4fa;
  --clients-color: #afb1b8;
  --task-description-bg-color: rgba(47, 48, 58, 0.8);
  --portf-card-bg-color: rgba(33, 150, 243, 0.9);
}
